
.body {
    align-items: center;
}

.footergrid {
    background-color: saddlebrown;
    color: white;
    justify-items: center;
    align-items: center;
    padding: 5px;
    text-align: center;
}
