
.body {
    align-items: center;
    background-size: cover;
    width: 100%;
}

.footerheader {
    color: white;
    background-color: saddlebrown;
    justify-items: center;
    align-items: center;
    padding: 5px;
    text-align: center;
}
