* {
    box-sizing: border-box;
}

body {
    background-color: beige;
    background-size: cover;
    margin: 10px;
}

.navcontainer {
    margin: 30px;
    padding: 20px;
    background-color: #AD7924;
    justify-items: left;
    background-size: cover;
    width: 100%;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.2);
}

.nav {
    color: black;
    display: inline-flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center; /* Added align-items to center items vertically */
}

.site-title {
    font-size: 3rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: .25rem;
}

.nav ul {
    padding: 0;
    margin: 3px;
    list-style: none;
    float: left;
    display: inline-flex;
    gap: 1rem;
}

.nav li.active {
    background-color: saddlebrown;
}

.nav li:hover {
    background-color: saddlebrown;
}

.pageheader {
    padding: 20px;
    text-align: center;
}

.menupage {
    background-color: beige;
    justify-content: left;
    display: flex; /* Changed to flex for proper alignment */
    flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
}

.sweetnesslevel {
    display: flex;
    justify-content: space-between;
    justify-items: auto;
    padding-top: 30px;
    margin: 20px;
}

.sweetfull {
    background-color: #785D32;
    padding: 40px;
    align-items: center;
    text-align: center;
}

.sweet3 {
    background-color: #93723D;
    padding: 40px;
    align-items: center;
    text-align: center;
}

.sweethalf {
    background-color: #AD8749;
    padding: 40px;
    align-items: center;
    text-align: center;
}

.sweetquarter {
    background-color: #CCA057;
    padding: 40px;
    align-items: center;
    text-align: center;
}

.unsweet {
    background-color: #ECBA66;
    padding: 40px;
    align-items: center;
    text-align: center;
}

.card image {
    text-align: left;
    display: inline-flex;
}

.card {
    padding: 10px;
    margin: 10px;
}

@media (max-width: 768px) {
    .nav ul {
        margin-right: 30px;
    }

    .site-title {
        font-size: 2rem;
        text-wrap: unset;
        line-height: 30px;
    }
}

@media (max-width: 600px) {
    .navcontainer {
        max-width: 100%; /* Allow the container to take the full width on small screens */
        padding: 10px;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav ul {
        flex-direction: column;
        overflow: hidden; /* Hide overflow on small screens */
    }

    .nav ul li {
        text-align: left;
    }

    .site-title {
        font-size: 2rem;
        text-wrap: unset;
        line-height: 30px;
    }
}

.footer {
    color: black;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    width: 100%;
}